

.waves {
  height: 425px;
  width: 94%;
  margin: auto;
  margin-left: 3%;
  margin-right: 3%;
}

.left-header {
  float: left;
  position: absolute;
  top: 0;
}
.wave-logo {
  margin-top: 10px;
  margin-left: 92px;
}
.surf-paddle-top {
  display: inline-block;
  font-family:"Open Sans";
  position: relative;
  top: -15px;
}
.about-search {
  display: inline-block;
  font-family:"Open Sans";
  position: relative;
  left: 594px;
  top: -15px;
  right: -110px;

}
.search-icon {
  position: relative;
  top: 5px;
}
.main-heading {
  position: absolute;
  left: 4em;
  top: 2em;
  font-size: 5rem;
  font-family: "Open Sans";
  color: white;
}
.under-main-h {
  font-family: "Open Sans";
  position: absolute;
  top: 18rem;
  left: 35rem;
  font-size: .9em;
}
.first-article {
  width: 60%;
  margin-left: 9.5%;
}
.travis-rice-img {
  height: 16px;
  width: 16px;
  border-radius: 100%;
}
.travis-rice-right {
  height: 64px;
  width: 64px;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: -17%;
  margin-right: 28.4%;
}
.first-heading {
  margin-top: 5%;
  font-family: "Oswald";
  font-size: 42px;
  width: 70%;
}
.firt-article {
  width: 75%;
}
.travis-rice-name {
  display: inline-block;
  position: absolute;
  right: 0px;
  margin-top: -12%;
  margin-right: 27.5%;
  font-family: "Open Sans";
  color: #1A62A7;
}
.article-body {
  margin-top: -4%;
}
.col-2 {

}
.list-of-social-media {
  font-family: "Open Sans";
  color: #9CAAB7;
  display: inline;
  position:absolute;
  right: 0;
  margin-right: 23%;
  margin-top: -10.7%;
}
.social-media {
  display: inline-block;
}
.travis-action {
  width: 193px;
  height: 206px;
  position: absolute;
  right: 0;
  margin-top: -6.7%;
  margin-right: 23.3%;
}
.small-header {
  font-family: "Open Sans";
  font-size: 22px;
}
.small-header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: .1rem;
  background-color:  #CACACA;
  height: 14%;
  margin-left: 9rem;
  margin-top: 54rem;
}
.line-small-header {
  margin-left:3%;
}
.second-article {
  width: 75%;
}
.second-p-second-article {
  width: 75%;
}
.button {
  font-family: "Open Sans";
}
