
body {
  max-width: 1300px;
}
.waves {
  height: 425px;
  width: 110%;
  margin-left: -3%;
  margin-top:-1%;
}

.left-header {
  float: left;
  position: absolute;
  top: 0;
}
.wave-logo {
  margin-top: 10px;
  margin-left: 92px;
}
.surf-paddle-top {
  display: inline-block;
  font-family:"Open Sans";
  position: relative;
  top: -15px;
}
.about-search {
  display: inline-block;
  font-family:"Open Sans";
  position: relative;
  left: 594px;
  top: -15px;
  right: -110px;

}
.search-icon {
  position: relative;
  top: 5px;
}
.main-heading {
  position: absolute;
  left: 4em;
  top: 2em;
  font-size: 5rem;
  font-family: "Open Sans";
  color: white;
}
.under-main-h {
  font-family: "Open Sans";
  position: absolute;
  top: 18rem;
  left: 35rem;
  font-size: .9em;
}
.first-article {
  width: 60%;
  margin-left: 9.5%;
}
.travis-rice-img {
  height: 16px;
  width: 16px;
  border-radius: 100%;
}
.travis-rice-right {
  height: 64px;
  width: 64px;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: -17%;
  margin-right: 28.4%;
}
.first-heading {
  margin-top: 5%;
  font-family: "Oswald";
  font-size: 42px;
  width: 70%;
}
.firt-article {
  width: 75%;
}
.travis-rice-name {
  display: inline-block;
  position: absolute;
  right: 0px;
  margin-top: -12%;
  margin-right: 27.5%;
  font-family: "Open Sans";
  color: #1A62A7;
}
.article-body {
  margin-top: -4%;
}
.col-2 {
  margin-top: -36%;

}
.list-of-social-media {
  font-family: "Open Sans";
  color: #9CAAB7;
  display: inline;
  position:absolute;
  right: 0;
  margin-right: 23%;
  margin-top: -10.7%;
}
.social-media {
  display: inline-block;
}
.travis-action {
  width: 193px;
  height: 206px;
  position: absolute;
  right: 0;
  margin-top: -6.7%;
  margin-right: 23.3%;
}
.small-header {
  font-family: "Open Sans";
  font-size: 22px;
}
.small-header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: .1rem;
  background-color:  #CACACA;
  height: 14%;
  margin-left: 9rem;
  margin-top: 57%;
}
.line-small-header {
  margin-left:3%;
}
.second-article {
  width: 75%;
}
.second-p-second-article {
  width: 75%;
}
.buttons {
  display: inline;
  margin-left: -6.6%;
}
.button {
  font-family: "Open Sans";
  display: inline-block;
}
.button-fixes {
  height: 28px;
  width: 129px;
  text-align: right;
  background-color:#A6B3BE;
  color: white;
  border: none;
  margin-left: 1rem;
}
#comment-icon {
  background-color:#60686F;
  height: 25px;
  width: 28px;
  color:white;
  text-align: center;
  margin-top: 1%;
  position: absolute;
  top: 317%;
  left: 10%;
  font-size: 1rem;
  padding-top: .2%;
}
#read-icon {
  background-color:#60686F;
  height: 25px;
  width: 28px;
  color:white;
  text-align: center;
  margin-top: 1%;
  position: absolute;
  top: 317%;
  left: 21.6rem;
  font-size: 1rem;
  padding-top: .2%
}
#share-icon {
  background-color:#60686F;
  height: 25px;
  width: 28px;
  color:white;
  text-align: center;
  margin-top: 1%;
  position: absolute;
  top: 317%;
  left: 31rem;
  font-size: 1rem;
  padding-top: .2%;
}
.about-this-ad {
  position: absolute;
  right: 23.3%;
  top: 220%;
}
.article-right {
  width: 20%;
  position: absolute;
  right: 16.5%;
  top: 230%;
}
.col-2::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 115%;
  background-color:  #CACACA;
  height: 1%;
  margin-top: 95%;
}
.pictures {
  height: 330px;
  width: 325px;
}
.bottom-list-pics {
  display: inline;
  list-style-type: none;
}
.pics {
  margin-right: -4px;
  display: inline-block;
}
.bottom-third {
  margin-top: 50%;
  max-width: 1300px;
}
.bottom-heading {
  text-align: center;
  color:#0D3453;
  font-family: "Oswald";
  font-size: 3rem;
}
.footer {
  background-color:#0D3352;
  width: 120%;
  margin-left: -1%;
  height: 97px;
  margin-top: -.28%;
  max-width: 1302px;
}
.left-bottom-bar {
  list-style-type: none;
  display: inline;
  color: white;
}
.items-bottom-left {
  display: inline-block;
}
.iron-yard-cr {
  position: absolute;
  margin-top:-2.6%;
}
.right-bottom-bar {
  display: inline;
  float: right;
  margin-top:1.5%;
  color: white;
}
.items-bottom-right {
  display: inline-block;
}
.pic-ul {
  margin-left: -4%;
}
.whole-page {
  max-width: 100%;
}
